@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Light-mode Colors */
/* * {
  --bg-color-1: #ffffff;
  --bg-color-2: #f4f4f7;
  --bg-color-3: #faf8ef;
  --bg-color-4: #8c8177;
  --pop-color-1: #776e65;
  --pop-color-2: #8c8177;
  
  --tile-text-color: var(--bg-color-1);
  --button-color: var(--pop-color-1);
} */
/* End of Light-mode Colors */

/* Dark-mode Colors */
* {
  --bg-color-1: #151515;
  --bg-color-2: #262629;
  --bg-color-3: #000000;
  /* --bg-color-3: #29292c; */
  /* --bg-color-4: #515159; */
  --pop-color-1: #ebebeb;
  --pop-color-2: #d8d8eb;

  --tile-text-color: var(--pop-color-1);
  --button-color: var(--tile-text-color);
} 

.btn-group .btn-outline-main-color {
  --bs-btn-color: var(--button-color);
  --bs-btn-bg: var(--bg-color-2);
  --bs-btn-border-color: var(--border-color);
}
/* End of Dark-mode Colors */


/* Note: sizing is set for vw with a screen width of 94% (3% margin on each side) */
/* Page-wide settings */
* {
  box-sizing: border-box;

  --vw: 1vw;
  
  --primary-color: var(--pop-color-1);
  --background-color: var(--bg-color-3);

  --board-color: var(--bg-color-1);
  --muted-board-color: var(--bg-color-2);

  --border-color: var(--bg-color-4);

  --green: #009245;
  --muted-green: #1fac61;
  --greencolor: 0, 146, 69;
  --blue: #0055ff;
  --bluecolor: 0, 85, 255;
  --salmon: #ff4747;
  --salmoncolor: 255, 69, 69;
  --purple:#8a45f1;
  --muted-purple: #9f6cea;
  --purplecolor: 138, 69, 241;

  --border-radius-large: calc(6 * var(--vw));
  --border-radius: calc(3.5 * var(--vw));
  --border-radius-small: calc(2.5 * var(--vw));

  --border-width: calc(0.0 * var(--vw));
  --border-width-small: calc(0.00 * var(--vw));
  --game-border-width: calc(1 * var(--vw));
  
  
  --animation_duration: 150ms;
  --appear_duration: 250ms;
  --appear_delay: var(--animation_duration);
}
  
@media screen and (min-width: 520px) {
  * {
    --vw: 5.2px;
  }
}

.App {
    width: 90%;
    margin: 5%;
}

html,
body {
    margin: auto auto;
    float: none !important;
    max-width: 532px;
    background: var(--background-color);
    color: var(--primary-color);
    font-family: 'Poppins', 'Arimo', sans-serif;
    font-size: calc(3.24 * var(--vw));
    position: relative;
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.normal-icon {
  width: calc(5 * var(--vw));
  height: calc(5 * var(--vw));
}


/* Current Colors */

.green {
  --current-color: var(--green);
  --current-color-values: var(--greencolor);
}

.blue {
  --current-color: var(--blue);
  --current-color-values: var(--bluecolor);
}

.salmon {
  --current-color: var(--salmon);
  --current-color-values: var(--salmoncolor);
}

.purple {
  --current-color: var(--purple);
  --current-color-values: var(--purplecolor);
}

.outline {
  border-color: var(--current-color);
}

.background {
  background: var(--current-color);
}

.text {
  opacity: 1;
  color: var(--current-color);
}

/* Common Elements */
.custom-card {
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  background-color: var(--board-color);
}

.small-border {
  border-width: var(--border-width-small);
}

/* General settings */
h1 {
    font-size: calc(13.5 * var(--vw));
    font-weight: bold;
}

h2 {
    font-size: calc(5.04 * var(--vw));
    font-weight: bold;
    margin-top: calc(2.52 * var(--vw));
}

p {
    display: block;
    line-height: 1.5;
}

ul {
    margin-top: 0;
}

a:link {
    color: var(--pop-color-1);
    font-weight: bold;
}

a:visited {
    color: var(--pop-color-1);
    font-weight: bold;
}


/* Modifiers */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bolded {
  font-weight: 600;
}

.outline {
  border-style: solid;
  transition: border-color calc(var(--animation_duration) + var(--appear_duration));
  /* box-shadow: 0 0 0 calc(1 * var(--vw));
  transition: color calc(var(--animation_duration) + var(--appear_duration)); */
}

/* Transitions */
.fade-enter-active,
.fade-fr-enter-active,
.fade-rf-enter-active
{
  transition: all 400ms ease-out !important;
}

.fade-exit-active,
.fade-fr-exit-active, /* This is the board exit */
.fade-rf-exit-active
{
  transition: all 400ms ease-in !important;
}

/* Accept forward, return forward */
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(-100%);
}

/* Accept reverse, return forward */
.fade-rf-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-rf-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-rf-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-rf-exit-active{
  opacity: 0;
  transform: translateX(-100%);
}

/* Accept forward, return Reverse */
.fade-fr-enter {
  opacity: 0;
  transform: translateX(100%);
}
.fade-fr-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-fr-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-fr-exit-active{
  opacity: 0;
  transform: translateX(100%);
}

/* Change the bootstrap behavior and add a new button */
.btn-outline-main-color {
  --bs-btn-color: var(--button-color);
  --bs-btn-bg: var(--bg-color-1);
  --bs-btn-border-color: var(--pop-color-1);

  --bs-btn-hover-color: var(--button-color);
  --bs-btn-hover-bg: var(--bg-color-2);
  --bs-btn-hover-border-color: var(--pop-color-2);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;

  --bs-btn-active-color: var(--bg-color-1);
  --bs-btn-active-bg: var(--pop-color-1);
  --bs-btn-active-border-color: var(--border-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: var(--button-color);
  --bs-btn-disabled-bg: var(--bg-color-2);
  --bs-btn-disabled-border-color: var(--border-color);
  --bs-gradient: none;
}

.navbar {
  padding-bottom: 0;
}

.navbar-brand {
  color: var(--primary-color) !important;
}

.card-header, .card-body {
    color: var(--border-color) !important;
}

/* Change the behavior of tabs */
.nav {
  --bs-nav-tabs-border-width: var(--border-width-small);
  --bs-nav-tabs-border-color: var(--border-color);
  --bs-nav-tabs-border-radius: var(--border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--border-color);
  --bs-nav-tabs-link-active-color: var(--primary-color);
  --bs-nav-tabs-link-active-bg: var(--board-color);
  --bs-nav-tabs-link-active-border-color: var(--border-color);
  --bs-nav-link-color: var(--primary-color);
}

/* change tab color */
.nav-link {
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link.active {
  border-bottom-color: var(--board-color) !important;
}

.tab-content {
  padding: calc(2 * var(--vw));
  background-color: var(--board-color);

  border-width: var(--border-width-small);
  border-style: solid;
  border-color: var(--border-color);
  border-radius:  0 0 var(--border-radius) var(--border-radius);
  border-top: none;
}

/* Modal Settings */
.modal {
  --bs-modal-bg: var(--bg-color-1);
  --bs-modal-border-color: var(--border-color);
  --bs-modal-border-width: var(--border-width-small);
  --bs-modal-border-radius: var(--border-radius);
  --bs-modal-header-border-color: var(--border-color);
  --bs-modal-header-border-width: var(--border-width-small);
  --bs-modal-footer-border-color: var(--border-color);
  --bs-modal-footer-border-width: var(--border-width-small);
}

.btn-close {
  display: none;
}