@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

* {
    box-sizing:border-box;
    padding: 0;
    margin: 10;
}

canvas {
    background: #eee;
    display: block;
    margin: auto auto;
}

html, body {
    margin: 0 auto !important;
    float: none !important;
    max-width: 750px;
    background: #faf8ef;
    color: #776e65;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

h1 { 
    font-size: 80px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

.game-intro {
    /* position: absolute;
    top: 1200px;
    right: 400px;
    left: 400px; */
    text-align:center;
    display: block;
    margin-top: 30px;
    line-height: 1.65;
}

/* 
h2 { 
    color: rgba(33, 51, 67, .9);
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
}


p { 
    color: rgba(33, 51, 67, .9);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
} */