@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

/* Page-wide settings */
* {
    box-sizing:border-box;
}

html, body {
    margin: auto auto;
    float: none !important;
    max-width: 750px;
    background: #faf8ef;
    color: #776e65;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    position: relative;
}

/* Subsection settings */
h1 { 
    font-size: 75px; 
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0em;
    margin-right: 0em;
}

p {
    margin-bottom: 0;
    display: block;
    line-height: 1.5;
}

ul {
    margin-top: 0;
}

li {
    /* line-height: 1.5; */
    margin-bottom: .3em;
}


button {
    background-color: #FFFFFF;
    border: 1px solid #776e65;
    border-radius: 8px;
    box-sizing: border-box;
    color: #776e65;
    cursor: pointer;
    display: inline-block;
    /* font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif; */
    font-size: 16px;
    /* font-weight: 600; */
    line-height: 20px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  /* button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  } */
  
  button:active {
    background-color: #F7F7F7;
    transform: scale(.96);
  }
  
  button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

/* Specific settings */
a:link {
    color: #776e65;
    font-weight: bold;
}

a:visited {
    color: #776e65;
    font-weight: bold;
}

.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Title settings */
.title-container {
    position: relative;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

/* Board info settings */
.board_info-container {
    overflow-x: auto;
    display: flex;  
    align-items: center; 
}

.board_info-left {
    border-radius: 6px;
    background-color:rgb(238, 238, 238);
    padding: 10px;
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-right: 2.5%;
}

.board_info-right {
    border-radius: 6px;
    background-color:rgb(238, 238, 238);
    padding: 10px;
    width: 25%;
    float: left;
    margin-left: 2.5%;
    margin-right: 5%;
}

.board_info-center {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    float: left;
}

#reset-button {
    padding: 8px 9px;
    border-radius: 6px;
    margin-bottom: 5px;
}

#settings-link {
    margin: 0;
    font-size: 16px;
}

.board_info-internal {
    font-size: 20px;
}

.header {
    text-decoration: underline;
    margin-bottom: 2.5px;
}

.board_info-reset {
    float: left;
    width: 120px;
}

.turn-container {
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.turn {
    border-radius: 6px;
    background-color:rgb(238, 238, 238);
    padding: 2.5px 10px;
    font-size: 25px;
    margin-top: 2px;
    text-align: center;
    /* width: 150px; */
}

/* Below Game Settings */
.settings-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.settings-container button {
    position: relative;
    display: inline-block;
    font-size: 17px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 5px 7px;
    border-radius: 4px;
}

/* Game Grid Settings */
.game-container {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    padding: 15px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: rgb(238, 238, 238);
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.endgame-msg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 500px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    z-index: 0;

    background: rgb(238, 238, 238);
    opacity: 0.8 !important;
}

.grid-container {
    position: absolute;
    width: 470px;
    height: 470px;
    z-index: 1;
}

.grid-row {
    margin-bottom: 15px;
    width: 470px;
    height: 106.25px;
}

.final-row {
    margin-bottom: 0px;
}

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(147, 152, 157, 0.2);
}

.final-cell {
    margin-right: 0px;
}

.tile-container {
position: absolute;
z-index: 2;
}

.tile {
    width: 107px;
    height: 107px;
    float: left;
    position: absolute;

    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}

.tile-inner {

    border-radius: 3px;
    line-height: 107px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color:rgba(255, 255, 255, 1);
}

.tile-inner {
    width: 107px;
    height: 107px;
    line-height: 107px;
}

.tile.position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
/* .tile-inner.tile-new.position-1-1{
    left: 0px;
    top: 0px;
} */

.tile.position-2-1 {
    -webkit-transform: translate(0px, 121px);
    -moz-transform: translate(0px, 121px);
    -ms-transform: translate(0px, 121px);
    transform: translate(0px, 121px);
}
/* .tile-inner.tile-new.position-1-2{
    left: 121px;
    top: 0px;
} */

.tile.position-3-1 {
    -webkit-transform: translate(0px, 242px);
    -moz-transform: translate(0px, 242px);
    -ms-transform: translate(0px, 242px);
    transform: translate(0px, 242px);
}
/* .tile-inner.tile-new.position-1-3{
    left: 242px;
    top: 0px;
} */

.tile.position-4-1 {
    -webkit-transform: translate(0px, 363px);
    -moz-transform: translate(0px, 363px);
    -ms-transform: translate(0px, 363px);
    transform: translate(0px, 363px);
}
/* .tile-inner.tile-new.position-1-4{
    left: 363px;
    top: 0px;
} */

.tile.position-1-2 {
    -webkit-transform: translate(121px, 0px);
    -moz-transform: translate(121px, 0px);
    -ms-transform: translate(121px, 0px);
    transform: translate(121px, 0px);
}
/* .tile-inner.tile-new.position-2-1{
    left: 0px;
    top: 121px;
} */

.tile.position-2-2 {
    -webkit-transform: translate(121px, 121px);
    -moz-transform: translate(121px, 121px);
    -ms-transform: translate(121px, 121px);
    transform: translate(121px, 121px);
}
/* .tile-inner.tile-new.position-2-2{
    left: 121px;
    top: 121px;
} */

.tile.position-3-2 {
    -webkit-transform: translate(121px, 242px);
    -moz-transform: translate(121px, 242px);
    -ms-transform: translate(121px, 242px);
    transform: translate(121px, 242px);
}
/* .tile-inner.tile-new.position-2-3{
    left: 242px;
    top: 121px;
} */

.tile.position-4-2 {
    -webkit-transform: translate(121px, 363px);
    -moz-transform: translate(121px, 363px);
    -ms-transform: translate(121px, 363px);
    transform: translate(121px, 363px);
}
/* .tile-inner.tile-new.position-2-4{
    left: 363px;
    top: 121px;
} */

.tile.position-1-3 {
    -webkit-transform: translate(242px, 0px);
    -moz-transform: translate(242px, 0px);
    -ms-transform: translate(242px, 0px);
    transform: translate(242px, 0px);
}
/* .tile-inner.tile-new.position-3-1{
    left: 0px;
    top: 242px;
} */

.tile.position-2-3 {
    -webkit-transform: translate(242px, 121px);
    -moz-transform: translate(242px, 121px);
    -ms-transform: translate(242px, 121px);
    transform: translate(242px, 121px);
}
/* .tile-inner.tile-new.position-3-2{
    left: 121px;
    top: 242px;
} */

.tile.position-3-3 {
    -webkit-transform: translate(242px, 242px);
    -moz-transform: translate(242px, 242px);
    -ms-transform: translate(242px, 242px);
    transform: translate(242px, 242px);
}
/* .tile-inner.tile-new.position-3-3{
    left: 242px;
    top: 242px;
} */

.tile.position-4-3 {
    -webkit-transform: translate(242px, 363px);
    -moz-transform: translate(242px, 363px);
    -ms-transform: translate(242px, 363px);
    transform: translate(242px, 363px);
}
/* .tile-inner.tile-new.position-3-4{
    left: 363px;
    top: 242px;
} */


.tile.position-1-4 {
-webkit-transform: translate(363px, 0px);
-moz-transform: translate(363px, 0px);
-ms-transform: translate(363px, 0px);
transform: translate(363px, 0px);
}
/* .tile-inner.tile-new.position-4-1{
    left: 0px;
    top: 363px;
} */


.tile.position-2-4 {
    -webkit-transform: translate(363px, 121px);
    -moz-transform: translate(363px, 121px);
    -ms-transform: translate(363px, 121px);
    transform: translate(363px, 121px);
}
/* .tile-inner.tile-new.position-4-2{
    left: 121px;
    top: 363px;
} */

.tile.position-3-4 {
    -webkit-transform: translate(363px, 242px);
    -moz-transform: translate(363px, 242px);
    -ms-transform: translate(363px, 242px);
    transform: translate(363px, 242px);
}
/* .tile-inner.tile-new.position-4-3{
    left: 242px;
    top: 363px;
} */

.tile.position-4-4 {
    -webkit-transform: translate(363px, 363px);
    -moz-transform: translate(363px, 363px);
    -ms-transform: translate(363px, 363px);
    transform: translate(363px, 363px);
}
/* .tile-inner.tile-new.position-4-4{
    left: 363px;
    top: 363px;
} */

@-webkit-keyframes appear {
    0% {
      /* opacity: 0; */
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      /* opacity: 1; */
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @-moz-keyframes appear {
    0% {
      /* opacity: 0; */
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      /* opacity: 1; */
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes appear {
    0% {
      /* opacity: 0; */
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      /* opacity: 1; */
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

.tile-new .tile-inner{
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

/* tile-specific */
.tile-inner.tile-2 {
    opacity: 0.5;
}

.tile-inner.tile-4 {
    opacity: 0.6;
}

.tile-inner.tile-8 {
    opacity: 0.7;
}

.tile-inner.tile-16 {
    opacity: 0.8;
}

.tile-inner.tile-32 {
    opacity: 0.9;
}
.tile-inner.tile-32.player1 {
    box-shadow: 0 0 30px 10px rgba(121, 130, 101, 0.4);
}

.tile-inner.tile-32.player2 {
    box-shadow: 0 0 30px 10px rgba(203, 141, 126, 0.4);
}

.tile-inner.tile-32.player1-contrast {
    box-shadow: 0 0 30px 10px rgba(0, 110, 159, 0.4);
}

.tile-inner.tile-32.player2-contrast {
    box-shadow: 0 0 30px 10px rgba(242,79,70, 0.4);
}

.tile-inner.tile-64 {
    opacity: 1;
}
.tile-inner.tile-64.player1 {
    box-shadow: 0 0 30px 10px rgba(121, 130, 101, 0.6);
}

.tile-inner.tile-64.player2 {
    box-shadow: 0 0 30px 10px rgba(203, 141, 126, 0.6);
}

.tile-inner.tile-64.player1-contrast {
    box-shadow: 0 0 30px 10px rgba(0, 110, 159, 0.6);
}

.tile-inner.tile-64.player2-contrast {
    box-shadow: 0 0 30px 10px rgba(242,79,70, 0.6);
}

.tile-inner.tile-128 {
    opacity: 1;
}
.tile-inner.tile-128.player1 {
    box-shadow: 0 0 30px 10px rgba(121, 130, 101, 0.8);
}

.tile-inner.tile-128.player2 {
    box-shadow: 0 0 30px 10px rgba(203, 141, 126, 0.8);
}

.tile-inner.tile-128.player1-contrast {
    box-shadow: 0 0 30px 10px rgba(0, 110, 159, 0.8);
}

.tile-inner.tile-128.player2-contrast {
    box-shadow: 0 0 30px 10px rgba(242,79,70, 0.8);
}






/* modifiers */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.player1.background {
    background: rgb(121, 130, 101);
    /* opacity: 0.5; */
}

.player1-contrast.background{
    background: rgb(0,110,159);
    /* opacity: 0.5; */
}

.player1.text {
    color: rgb(121, 130, 101);
    opacity: 0.75;
}

.player1-contrast.text{
    color: rgb(0,110,159);
    opacity: 0.75;
}

.player2.background{
    background: rgb(203, 141, 126);
    /* opacity: 0.5; */
}

.player2-contrast.background {
    background: rgb(242,79,70);
    /* opacity: 0.5; */
}

.player2.text {
    color: rgb(203, 141, 126);
    opacity: 0.75;
}

.player2-contrast.text { 
    color:  rgb(242,79,70);
    opacity: 0.75;
}

.bolded {
    font-weight: 600;
  }

/* Third-party styles */
/* dropdown: w3schools */
.dropbtn {
    border-width: 1px 1px 1px 3px;
    /* border-radius: 4px; */
    font-weight: normal;
}

.dropbtn:active {
    transform: scale(1);
}

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /* min-width: 100px; */
    /* margin-bottom: 10px; */
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    z-index: 10;
  }

  /* format the button in dropdown */
  .dropdown-element {
    border-width: 0;
    padding: 7px 5px;
    border-radius: 0px !important;
    float: left;
    left: 1%;
    text-align: left;
    height: 60%;
    width: 80%;
  }

 .dropdown-element:hover {
    background-color: #F7F7F7;
  }

  .dropdown-element:active {
    border-width: 0px 0px 0px 2px;
    transform: scale(1);
  }

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #F7F7F7;
  }

/* Small Screen Settings */
/* @media screen and (max-width: 520px) {
    html, body {
        font-size: 15px;
    }

    .container {
        width: 500px;
        margin: 0 auto;
        margin-top: 30px;
    }

} */