@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

/* Note: sizing is set for vw with a screen width of 94% (3% margin on each side) */

/* Page-wide settings */
* {
    box-sizing: border-box;
}

html,
body {
    margin: auto auto;
    float: none !important;
    max-width: 532px;
    background: #faf8ef;
    color: #776e65;
    font-family: 'Arimo', sans-serif;
    font-size: 3.24vw;
    position: relative;
}

/* General settings */
h1 {
    font-size: 13.5vw;
    font-weight: bold;
}

h2 {
    font-size: 5.04vw;
    font-weight: bold;
    margin-top: 2.52vw;
    /* margin-bottom: 2.52vw; */
}

p {
    margin-bottom: 0;
    display: block;
    line-height: 1.5;
}

ul {
    margin-top: 0;
}

li {
    margin-bottom: 1.8vw;
}

button {
    background-color: #FFFFFF;
    border: 1px solid #776e65;
    box-sizing: border-box;
    color: #776e65;
    cursor: pointer;
    display: inline-block;

    border-radius: 1.44vw;
    font-size: 2.88vw;
    line-height: 3.6vw;
    padding: 1.26vw 1.8vw;

    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

/* button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  } */

button:active {
    background-color: #F7F7F7;
    transform: scale(.96);
}

button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

a:link {
    color: #776e65;
    font-weight: bold;
}

a:visited {
    color: #776e65;
    font-weight: bold;
}

@media screen and (min-width: 520px) {

    html,
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 28px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    p {
        margin-bottom: 0;
    }

    ul {
        margin-top: 0;
    }

    li {
        margin-bottom: 10px;
    }

    button {
        border: 1px solid #776e65;
        border-radius: 8px;
        font-size: 16px;
        line-height: 20px;
        padding: 7px 10px;
    }
}

/* Peripherals */

.container {
    /* width: 500px; */
    width: 90%;
    margin: 5%;
    margin-top: 0;
}

/* Title settings */
.title-container {
    position: relative;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

/* Board info settings */
.board_info-container {
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.board_info-left {
    border-radius: 1.08vw;
    background-color: rgb(238, 238, 238);
    padding: 1.8vw;
    width: 33%;
    float: left;
    margin-left: 0;
    margin-right: 1.5%;
}

.board_info-right {
    border-radius: 1.08vw;
    background-color: rgb(238, 238, 238);
    padding: 1.8vw;
    width: 33%;
    float: left;
    margin-left: 1.5%;
    margin-right: 0;
}

.board_info-center {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 31%;
    float: left;
}

#reset-button {
    margin-bottom: 0.9vw;
    width: 100%;
}

#settings-link {
    margin: 0;
    font-size: 2.88vw;
}

.board_info-internal {
    font-size: 3.6vw;
}

.header {
    text-decoration: underline;
    margin-bottom: 0.45vw;
}

.turn-container {
    font-size: 4.5vw;
    margin-bottom: 2.7vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.turn {
    border-radius: 1.08vw;
    background-color: rgb(238, 238, 238);
    padding: 0.45vw 1.8vw;
    text-align: center;
}

/* Below Game Settings */
.settings-container {
    margin-top: 2.7vw;
    margin-bottom: 2.7vw;
}

.settings-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8vw;
}

.settings-container button {
    position: relative;
    display: inline-block;
    margin-left: .9vw;
    margin-right: .9vw;
}

@media screen and (min-width: 520px) {
    .board_info-container {
        width: 500px;
    }

    .board_info-left {
        border-radius: 6px;
        padding: 10px;
    }

    .board_info-right {
        border-radius: 6px;
        padding: 10px;
    }

    #reset-button {
        margin-bottom: 5px;
    }

    #settings-link {
        font-size: 16px;
    }

    .board_info-internal {
        font-size: 20px;
    }

    .header {
        margin-bottom: 2.5px;
    }

    .turn-container {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .turn {
        border-radius: 6px;
        padding: 2.5px 10px;
    }

    .settings-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .settings-inner {
        margin-bottom: 10px;
    }

    .settings-container button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Game Grid Settings */
.game-container {
    margin-top: 2.7vw;
    margin-bottom: 2.7vw;
    position: relative;
    padding: 2.7vw;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: rgb(238, 238, 238);
    border-radius: 1.08vw;
    width: 90vw;
    height: 90vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 520px) {
    .game-container {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        width: 500px;
        height: 500px;
        border-radius: 6px;
    }
}

.endgame-msg {
    display: inherit;
    visibility: visible;
    z-index: 10;


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 90vw;
    text-align: center;
    font-size: 6.3vw;
    font-weight: bold;

    background: rgb(238, 238, 238);
    opacity: 0.8 !important;

    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@media screen and (min-width: 520px) {
    .endgame-msg {
        font-size: 35px;
        line-height: 500px;
    }
}

.endgame-msg.hidden {
    z-index: 0;
    display: none;
    visibility: "hidden";
}

button.hidden {
    display: none;
    visibility: "hidden";
}

.grid-container {
    position: absolute;
    width: 84.6vw;
    height: 84.6vw;
    z-index: 1;
}

.grid-row {
    margin-bottom: 2.7vw;
    width: 84.6vw;
    height: 19.125vw;
}

.final-row {
    margin-bottom: 0px;
}

.grid-cell {
    width: 19.125vw;
    height: 19.125vw;
    margin-right: 2.7vw;
    float: left;
    border-radius: 0.54vw;
    background: rgba(147, 152, 157, 0.2);
}

.final-cell {
    margin-right: 0px;
}

.tile-container {
    position: absolute;
    z-index: 2;
}

.tile {
    width: 19.26vw;
    height: 19.26vw;
    float: left;
    position: absolute;

    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}

.tile-inner {

    border-radius: 0.54vw;
    line-height: 19.26vw;
    text-align: center;
    font-weight: bold;
    font-size: 10.8vw;
    color: rgba(255, 255, 255, 1);
}

.tile-inner {
    width: 19.26vw;
    height: 19.26vw;
    line-height: 19.26vw;
}

@media screen and (min-width: 520px) {
    .grid-container {
        width: 470px;
        height: 470px;
    }

    .grid-row {
        margin-bottom: 15px;
        width: 470px;
        height: 106.25px;
    }

    .final-row {
        margin-bottom: 0px;
    }

    .grid-cell {
        width: 106.25px;
        height: 106.25px;
        margin-right: 15px;
        border-radius: 3px;
    }

    .final-cell {
        margin-right: 0px;
    }

    .tile {
        width: 107px;
        height: 107px;
    }

    .tile-inner {
        border-radius: 3px;
        line-height: 107px;
        font-size: 60px;
    }

    .tile-inner {
        width: 107px;
        height: 107px;
        line-height: 107px;
    }
}

.tile.position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.tile.position-2-1 {
    -webkit-transform: translate(0px, 21.78vw);
    -moz-transform: translate(0px, 21.78vw);
    -ms-transform: translate(0px, 21.78vw);
    transform: translate(0px, 21.78vw);
}

.tile.position-3-1 {
    -webkit-transform: translate(0px, 43.56vw);
    -moz-transform: translate(0px, 43.56vw);
    -ms-transform: translate(0px, 43.56vw);
    transform: translate(0px, 43.56vw);
}

.tile.position-4-1 {
    -webkit-transform: translate(0px, 65.34vw);
    -moz-transform: translate(0px, 65.34vw);
    -ms-transform: translate(0px, 65.34vw);
    transform: translate(0px, 65.34vw);
}

.tile.position-1-2 {
    -webkit-transform: translate(21.78vw, 0px);
    -moz-transform: translate(21.78vw, 0px);
    -ms-transform: translate(21.78vw, 0px);
    transform: translate(21.78vw, 0px);
}

.tile.position-2-2 {
    -webkit-transform: translate(21.78vw, 21.78vw);
    -moz-transform: translate(21.78vw, 21.78vw);
    -ms-transform: translate(21.78vw, 21.78vw);
    transform: translate(21.78vw, 21.78vw);
}

.tile.position-3-2 {
    -webkit-transform: translate(21.78vw, 43.56vw);
    -moz-transform: translate(21.78vw, 43.56vw);
    -ms-transform: translate(21.78vw, 43.56vw);
    transform: translate(21.78vw, 43.56vw);
}

.tile.position-4-2 {
    -webkit-transform: translate(21.78vw, 65.34vw);
    -moz-transform: translate(21.78vw, 65.34vw);
    -ms-transform: translate(21.78vw, 65.34vw);
    transform: translate(21.78vw, 65.34vw);
}

.tile.position-1-3 {
    -webkit-transform: translate(43.56vw, 0px);
    -moz-transform: translate(43.56vw, 0px);
    -ms-transform: translate(43.56vw, 0px);
    transform: translate(43.56vw, 0px);
}

.tile.position-2-3 {
    -webkit-transform: translate(43.56vw, 21.78vw);
    -moz-transform: translate(43.56vw, 21.78vw);
    -ms-transform: translate(43.56vw, 21.78vw);
    transform: translate(43.56vw, 21.78vw);
}

.tile.position-3-3 {
    -webkit-transform: translate(43.56vw, 43.56vw);
    -moz-transform: translate(43.56vw, 43.56vw);
    -ms-transform: translate(43.56vw, 43.56vw);
    transform: translate(43.56vw, 43.56vw);
}

.tile.position-4-3 {
    -webkit-transform: translate(43.56vw, 65.34vw);
    -moz-transform: translate(43.56vw, 65.34vw);
    -ms-transform: translate(43.56vw, 65.34vw);
    transform: translate(43.56vw, 65.34vw);
}

.tile.position-1-4 {
    -webkit-transform: translate(65.34vw, 0px);
    -moz-transform: translate(65.34vw, 0px);
    -ms-transform: translate(65.34vw, 0px);
    transform: translate(65.34vw, 0px);
}


.tile.position-2-4 {
    -webkit-transform: translate(65.34vw, 21.78vw);
    -moz-transform: translate(65.34vw, 21.78vw);
    -ms-transform: translate(65.34vw, 21.78vw);
    transform: translate(65.34vw, 21.78vw);
}

.tile.position-3-4 {
    -webkit-transform: translate(65.34vw, 43.56vw);
    -moz-transform: translate(65.34vw, 43.56vw);
    -ms-transform: translate(65.34vw, 43.56vw);
    transform: translate(65.34vw, 43.56vw);
}

.tile.position-4-4 {
    -webkit-transform: translate(65.34vw, 65.34vw);
    -moz-transform: translate(65.34vw, 65.34vw);
    -ms-transform: translate(65.34vw, 65.34vw);
    transform: translate(65.34vw, 65.34vw);
}

@media screen and (min-width: 520px) {
    .tile.position-1-1 {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .tile.position-2-1 {
        -webkit-transform: translate(0px, 121px);
        -moz-transform: translate(0px, 121px);
        -ms-transform: translate(0px, 121px);
        transform: translate(0px, 121px);
    }

    .tile.position-3-1 {
        -webkit-transform: translate(0px, 242px);
        -moz-transform: translate(0px, 242px);
        -ms-transform: translate(0px, 242px);
        transform: translate(0px, 242px);
    }

    .tile.position-4-1 {
        -webkit-transform: translate(0px, 363px);
        -moz-transform: translate(0px, 363px);
        -ms-transform: translate(0px, 363px);
        transform: translate(0px, 363px);
    }

    .tile.position-1-2 {
        -webkit-transform: translate(121px, 0px);
        -moz-transform: translate(121px, 0px);
        -ms-transform: translate(121px, 0px);
        transform: translate(121px, 0px);
    }

    .tile.position-2-2 {
        -webkit-transform: translate(121px, 121px);
        -moz-transform: translate(121px, 121px);
        -ms-transform: translate(121px, 121px);
        transform: translate(121px, 121px);
    }

    .tile.position-3-2 {
        -webkit-transform: translate(121px, 242px);
        -moz-transform: translate(121px, 242px);
        -ms-transform: translate(121px, 242px);
        transform: translate(121px, 242px);
    }

    .tile.position-4-2 {
        -webkit-transform: translate(121px, 363px);
        -moz-transform: translate(121px, 363px);
        -ms-transform: translate(121px, 363px);
        transform: translate(121px, 363px);
    }

    .tile.position-1-3 {
        -webkit-transform: translate(242px, 0px);
        -moz-transform: translate(242px, 0px);
        -ms-transform: translate(242px, 0px);
        transform: translate(242px, 0px);
    }

    .tile.position-2-3 {
        -webkit-transform: translate(242px, 121px);
        -moz-transform: translate(242px, 121px);
        -ms-transform: translate(242px, 121px);
        transform: translate(242px, 121px);
    }

    .tile.position-3-3 {
        -webkit-transform: translate(242px, 242px);
        -moz-transform: translate(242px, 242px);
        -ms-transform: translate(242px, 242px);
        transform: translate(242px, 242px);
    }

    .tile.position-4-3 {
        -webkit-transform: translate(242px, 363px);
        -moz-transform: translate(242px, 363px);
        -ms-transform: translate(242px, 363px);
        transform: translate(242px, 363px);
    }

    .tile.position-1-4 {
        -webkit-transform: translate(363px, 0px);
        -moz-transform: translate(363px, 0px);
        -ms-transform: translate(363px, 0px);
        transform: translate(363px, 0px);
    }


    .tile.position-2-4 {
        -webkit-transform: translate(363px, 121px);
        -moz-transform: translate(363px, 121px);
        -ms-transform: translate(363px, 121px);
        transform: translate(363px, 121px);
    }

    .tile.position-3-4 {
        -webkit-transform: translate(363px, 242px);
        -moz-transform: translate(363px, 242px);
        -ms-transform: translate(363px, 242px);
        transform: translate(363px, 242px);
    }

    .tile.position-4-4 {
        -webkit-transform: translate(363px, 363px);
        -moz-transform: translate(363px, 363px);
        -ms-transform: translate(363px, 363px);
        transform: translate(363px, 363px);
    }
}

@-webkit-keyframes appear {
    0% {
        /* opacity: 0; */
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        /* opacity: 1; */
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes appear {
    0% {
        /* opacity: 0; */
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        /* opacity: 1; */
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        /* opacity: 0; */
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        /* opacity: 1; */
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


.tile-new .tile-inner {
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}



/* tile-specific */
.tile-inner {
    --shadow-size: 0 0 5.4vw 1.8vw;
}

@media screen and (min-width: 520px) {
    .tile-inner {
        --shadow-size: 0 0 30px 10px;
    }
}

body {
    --p1color: var(--bluecolor);
    --p2color: var(--salmoncolor);
    --greencolor: 127, 160, 60;
    --bluecolor: 0, 110, 159;
    --salmoncolor: 242, 79, 70;
    --purplecolor: 133, 102, 179;
}

.tile-inner.tile-2 {
    opacity: 0.5;
}

.tile-inner.tile-4 {
    opacity: 0.6;
}

.tile-inner.tile-8 {
    opacity: 0.7;
}

.tile-inner.tile-16 {
    opacity: 0.8;
}

.tile-inner.tile-32 {
    opacity: 0.9;
}

.tile-inner.tile-32.player1 {
    box-shadow: var(--shadow-size) rgba(var(--p1color), 0.4);
}

.tile-inner.tile-32.player2 {
    box-shadow: var(--shadow-size) rgba(var(--p2color), 0.4);
}

.tile-inner.tile-32.green {
    box-shadow: var(--shadow-size) rgba(var(--greencolor), 0.4);
}

.tile-inner.tile-32.blue {
    box-shadow: var(--shadow-size) rgba(var(--bluecolor), 0.4);
}

.tile-inner.tile-32.salmon {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.4);
}

.tile-inner.tile-32.purple {
    box-shadow: var(--shadow-size) rgba(var(--purplecolor), 0.4);
}


.tile-inner.tile-32.player1-contrast {
    box-shadow: var(--shadow-size) rgba(0, 110, 159, 0.4);
}

.tile-inner.tile-32.player2-contrast {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.4);
}




.tile-inner.tile-64 {
    opacity: 1;
}

.tile-inner.tile-64.player1 {
    box-shadow: var(--shadow-size) rgba(var(--p1color), 0.6);
}

.tile-inner.tile-64.green {
    box-shadow: var(--shadow-size) rgba(var(--greencolor), 0.6);
}

.tile-inner.tile-64.blue {
    box-shadow: var(--shadow-size) rgba(var(--bluecolor), 0.6);
}

.tile-inner.tile-64.salmon {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.6);
}

.tile-inner.tile-64.purple {
    box-shadow: var(--shadow-size) rgba(var(--purplecolor), 0.6);
}


.tile-inner.tile-64.player2 {
    box-shadow: var(--shadow-size) rgba(var(--p2color), 0.6);
}

.tile-inner.tile-64.player1-contrast {
    box-shadow: var(--shadow-size) rgba(0, 110, 159, 0.6);
}

.tile-inner.tile-64.player2-contrast {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.6);
}

.tile-inner.tile-128 {
    opacity: 1;
}

.tile-inner.tile-128.player1 {
    box-shadow: var(--shadow-size) rgba(var(--p1color), 0.8);
}

.tile-inner.tile-128.green {
    box-shadow: var(--shadow-size) rgba(var(--greencolor), 0.8);
}

.tile-inner.tile-128.blue {
    box-shadow: var(--shadow-size) rgba(var(--bluecolor), 0.8);
}

.tile-inner.tile-128.salmon {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.8);
}

.tile-inner.tile-128.purple {
    box-shadow: var(--shadow-size) rgba(var(--purplecolor), 0.8);
}


.tile-inner.tile-128.player2 {
    box-shadow: var(--shadow-size) rgba(var(--p2color), 0.8);
}

.tile-inner.tile-128.player1-contrast {
    box-shadow: var(--shadow-size) rgba(0, 110, 159, 0.8);
}

.tile-inner.tile-128.player2-contrast {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.8);
}

/* Modifiers */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.player1.background {
    background: rgb(var(--p1color));
}

.green.background {
    background: rgb(var(--greencolor));
}

.blue.background {
    background: rgb(var(--bluecolor));
}

.salmon.background {
    background: rgb(var(--salmoncolor));
}

.purple.background {
    background: rgb(var(--purplecolor));
}

.player1-contrast.background {
    background: rgb(var(--bluecolor));
}

.player1.text {
    color: rgb(var(--p1color));
    opacity: 0.75;
}

.green.text {
    color: rgb(var(--greencolor));
    opacity: 0.75;
}

.blue.text {
    color: rgb(var(--bluecolor));
    opacity: 0.75;
}

.salmon.text {
    color: rgb(var(--salmoncolor));
    opacity: 0.75;
}

.purple.text {
    color: rgb(var(--purplecolor));
    opacity: 0.75;
}

.player1-contrast.text {
    color: rgb(var(--bluecolor));
    opacity: 0.75;
}

.player2.background {
    background: rgb(var(--p2color));
    /* opacity: 0.5; */
}

.player2-contrast.background {
    background: rgb(var(--salmoncolor));
    /* opacity: 0.5; */
}

.player2.text {
    color: rgb(var(--p2color));
    opacity: 0.75;
}

.player2-contrast.text {
    color: rgb(var(--salmoncolor));
    opacity: 0.75;
}

.bolded {
    font-weight: 600;
}

/* Third-party styles */
/* dropdown: w3schools */
.dropbtn {
    border-width: 1px 1px 1px 3px;
    /* border-radius: 4px; */
    font-weight: normal;
}

.dropbtn:active {
    transform: scale(1);
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* min-width: 100px; */
    /* margin-bottom: 10px; */
    margin-left: 2.5px;
    margin-right: 2.5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    z-index: 10;
}

/* format the button in dropdown */
.dropdown-element {
    border-width: 0;
    padding: 7px 5px;
    border-radius: 0px !important;
    margin: 0 !important;
    float: left;
    left: 1%;
    text-align: left;
    height: 60%;
    width: 80%;
}

.dropdown-element:hover {
    background-color: #F7F7F7;
}

.dropdown-element:active {
    border-width: 0px 0px 0px 2px;
    transform: scale(1);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #F7F7F7;
}