.custom-button-wrapper {
    position: relative;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}
.custom-button-top {
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
}

.custom-button-bottom {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    background-color: red;
}