.endgame-msg {
    display: inherit;
    visibility: visible;
    z-index: 10;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: calc(90 * var(--vw));
    text-align: center;
    font-size: calc(6.3 * var(--vw));
    font-weight: bold;

    background: var(--board-color);
    opacity: 0.8 !important;

    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.game-msg-button {
    border-radius: var(--border-radius-small);
}
