.pop-box {
    position: relative;
    overflow: visible;

    --box-color: var(--current-color);
    --offset-size: calc(1 * var(--vw));
    --box-border-radius: var(--border-radius-small);
}

.pop-box-large {
    --offset-size: calc(1.5 * var(--vw));
    --box-border-radius: calc(2 * var(--vw));
}
/* Replaced with transition */
/* .selected {
    animation-name: pop;
    animation-duration: 150ms;
} */

.disabled.selected {
    animation-name: pop-easy;
    animation-duration: 100ms;
}

.pop-box.accent {
    --box-color: var(--accent-color);
}

.pop-box-bottom {
    position: absolute;
    top: var(--offset-size);
    left: var(--offset-size);
    background-color: var(--box-color);
    border-radius: var(--box-border-radius);
}

.pop-box-top {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--bg-color-1);
    border-color: var(--box-color);
    border-style: solid;
    border-width: calc(0.2 * var(--vw));
    border-radius: var(--box-border-radius);

    transition: top 50ms ease-out, left 50ms ease-out;
}

.selected .pop-box-top {
    top: var(--offset-size);
    left: var(--offset-size);
}

.disabled .pop-box-top {
    top: 0;
    left: 0;
}

.pop-box-top.dark-background {
    background-color: var(--bg-color-0);
}
