.pop-box {
    position: relative;
    overflow: visible;

    --box-color: var(--current-color);
}
.selected {
    animation-name: pop;
    animation-duration: 150ms;
    /* animation-timing-function: ease-in; */
}

.pop-box.accent {
    --box-color: var(--accent-color);
}

.pop-box-bottom {
    position: absolute;
    top: calc(1 * var(--vw));
    left: calc(1 * var(--vw));
    background-color: var(--box-color);
    border-radius: calc(1.5 * var(--vw));
}

.pop-box-top {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--bg-color-2);
    border-color: var(--box-color);
    border-style: solid;
    border-width: calc(0.2 * var(--vw));
    border-radius: calc(1.5 * var(--vw));
}

.pop-box-top.dark-background {
    background-color: var(--bg-color-0);
}
