.tab-contents {
    padding: 2vw;
    background-color: var(--board-color);
    border-radius:  0 0 var(--border-radius) var(--border-radius);
}

.toggle-name {
    color: var(--primary-color) !important;
    opacity: 1 !important;
    /* font-weight: 500; */
}

/* change tab color */
.nav-link {
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--primary-color);
}



.bottom-buffer {
    margin-bottom: 5vw;
}

@media screen and (min-width: 520px) {
    .tab-contents {
        padding: 10px;
    }

    .bottom-buffer {
        margin-bottom: 25vw;
    }
}