/* animations */
@import "BoardAnimations.css";

.game-container {
    margin-top: 2.7vw;
    margin-bottom: 2.7vw;
    position: relative;
    padding: 2.7vw;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: rgb(238, 238, 238);
    border-radius: 1.08vw;
    width: 90vw;
    height: 90vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.endgame-msg {
    display: inherit;
    visibility: visible;
    z-index: 10;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 90vw;
    text-align: center;
    font-size: 6.3vw;
    font-weight: bold;

    background: rgb(238, 238, 238);
    border-radius: 1.08vw;
    opacity: 0.8 !important;

    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.endgame-msg.hidden {
    z-index: 0;
    display: none;
    visibility: "hidden";
}

button.hidden {
    display: none;
    visibility: "hidden";
}

/* Tiles */
.grid-container {
    position: absolute;
    width: 84.6vw;
    height: 84.6vw;
    z-index: 1;
}

.grid-row {
    margin-bottom: 2.7vw;
    width: 84.6vw;
    height: 19.125vw;
}

.final-row {
    margin-bottom: 0px;
}

.grid-cell {
    width: 19.125vw;
    height: 19.125vw;
    margin-right: 2.7vw;
    float: left;
    border-radius: 0.54vw;
    background: rgba(147, 152, 157, 0.2);
}

.final-cell {
    margin-right: 0px;
}

.tile-container {
    position: absolute;
    z-index: 2;
}

.tile {
    width: 19.26vw;
    height: 19.26vw;
    float: left;
    position: absolute;

    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}

.tile-inner {

    border-radius: 0.54vw;
    line-height: 19.26vw;
    text-align: center;
    font-weight: bold;
    font-size: 10.8vw;
    color: rgba(255, 255, 255, 1);

    width: 19.26vw;
    height: 19.26vw;
    line-height: 19.26vw;

    --shadow-size: 0 0 5.4vw 1.8vw;
}

/* Endgame Message */

@media screen and (min-width: 520px) {
    .game-container {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        width: 500px;
        height: 500px;
        border-radius: 6px;
    }

    .endgame-msg {
        font-size: 35px;
        line-height: 500px;
        border-radius: 6px;
    }

    .grid-container {
        width: 470px;
        height: 470px;
    }

    .grid-row {
        margin-bottom: 15px;
        width: 470px;
        height: 106.25px;
    }

    .final-row {
        margin-bottom: 0px;
    }

    .grid-cell {
        width: 106.25px;
        height: 106.25px;
        margin-right: 15px;
        border-radius: 3px;
    }

    .final-cell {
        margin-right: 0px;
    }

    .tile {
        width: 107px;
        height: 107px;
    }

    .tile-inner {
        border-radius: 3px;
        line-height: 107px;
        font-size: 60px;

        width: 107px;
        height: 107px;
        line-height: 107px;

        --shadow-size: 0 0 30px 10px;

    }
}

/* Tile-Specific */
.tile-inner.tile-2 {
    opacity: 0.5;
}

.tile-inner.tile-4 {
    opacity: 0.6;
}

.tile-inner.tile-8 {
    opacity: 0.7;
}

.tile-inner.tile-16 {
    opacity: 0.8;
}

.tile-inner.tile-32 {
    opacity: 0.9;
}

.tile-inner.tile-32.player1 {
    box-shadow: var(--shadow-size) rgba(var(--p1color), 0.4);
}

.tile-inner.tile-32.player2 {
    box-shadow: var(--shadow-size) rgba(var(--p2color), 0.4);
}

.tile-inner.tile-32.green {
    box-shadow: var(--shadow-size) rgba(var(--greencolor), 0.4);
}

.tile-inner.tile-32.blue {
    box-shadow: var(--shadow-size) rgba(var(--bluecolor), 0.4);
}

.tile-inner.tile-32.salmon {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.4);
}

.tile-inner.tile-32.purple {
    box-shadow: var(--shadow-size) rgba(var(--purplecolor), 0.4);
}

.tile-inner.tile-32.player1-contrast {
    box-shadow: var(--shadow-size) rgba(0, 110, 159, 0.4);
}

.tile-inner.tile-32.player2-contrast {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.4);
}


.tile-inner.tile-64 {
    opacity: 1;
}

.tile-inner.tile-64.player1 {
    box-shadow: var(--shadow-size) rgba(var(--p1color), 0.6);
}

.tile-inner.tile-64.green {
    box-shadow: var(--shadow-size) rgba(var(--greencolor), 0.6);
}

.tile-inner.tile-64.blue {
    box-shadow: var(--shadow-size) rgba(var(--bluecolor), 0.6);
}

.tile-inner.tile-64.salmon {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.6);
}

.tile-inner.tile-64.purple {
    box-shadow: var(--shadow-size) rgba(var(--purplecolor), 0.6);
}


.tile-inner.tile-64.player2 {
    box-shadow: var(--shadow-size) rgba(var(--p2color), 0.6);
}

.tile-inner.tile-64.player1-contrast {
    box-shadow: var(--shadow-size) rgba(0, 110, 159, 0.6);
}

.tile-inner.tile-64.player2-contrast {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.6);
}


.tile-inner.tile-128 {
    opacity: 1;
}

.tile-inner.tile-128.player1 {
    box-shadow: var(--shadow-size) rgba(var(--p1color), 0.8);
}

.tile-inner.tile-128.green {
    box-shadow: var(--shadow-size) rgba(var(--greencolor), 0.8);
}

.tile-inner.tile-128.blue {
    box-shadow: var(--shadow-size) rgba(var(--bluecolor), 0.8);
}

.tile-inner.tile-128.salmon {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.8);
}

.tile-inner.tile-128.purple {
    box-shadow: var(--shadow-size) rgba(var(--purplecolor), 0.8);
}


.tile-inner.tile-128.player2 {
    box-shadow: var(--shadow-size) rgba(var(--p2color), 0.8);
}

.tile-inner.tile-128.player1-contrast {
    box-shadow: var(--shadow-size) rgba(0, 110, 159, 0.8);
}

.tile-inner.tile-128.player2-contrast {
    box-shadow: var(--shadow-size) rgba(var(--salmoncolor), 0.8);
}
