.sample-enter {
  opacity: 0;
}
.sample-enter-active {
  opacity: 0.5;
  transition: opacity 300ms;
}
.sample-enter-done{
  opacity: 1;
}
.sample-exit{
  opacity: 1;
}
.sample-exit-active {
  opacity: 0.5;
  transition: opacity 300ms;
}
.sample-exit-done{
  opacity: 0;
}

.card {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1s ease, transform 1s ease;
}

.card.in.visible {
  opacity: 1;
  transform: translateY(0);
}